@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1>Requests</h1>
        <p> GetAllProduct ==>product/getallproducts</p>
        <p> GetProductById ==>product/getproductbyid/Id</p>
        <p> DeleteProductById ==>Product/deleteproductbyid/Id</p>
    </div>
</div>
